<div id="doc" class="yui-t7">
  <header role="banner"><h1>My GitHub R&eacute;sum&eacute;</h1></header>
  <article role="main">
    <div class="yui-g">
      <p class="enlarge-medium">
        As a software startup owner I really enjoy when people send us their
        r&eacute;sum&eacute;s and they include their github account so we can see tangible work they have done.
      </p>
      <p><br /></p>
      <p class="enlarge-medium">
        After a <a href="https://twitter.com/#!/jeresig/status/33968704983138304">tweet by John Resig</a>
        I imagined that it may be nice for people to be able to generate their <a href="https://github.com" title="GitHub">GitHub</a> r&eacute;sum&eacute;s.
      </p>
      <p><br /><br /></p>

      <form id="run" action="." method="get">
        <p>
          <input id="username" type="text" placeholder="Enter your GitHub username and click on generate" autofocus />
          <button type="submit" id="gen">Generate</button>
        </p>
      </form>
    </div>
  </article>

<footer role="contentinfo"><p>Brought to you by the brilliant mind of <a href="https://twitter.com/davidcoallier">@davidcoallier</a> and edited by <a href="https://twitter.com/jgabrielfreitas">@jgabrielfreitas</a></a></p></footer></div>

<script type="text/javascript">
$(document).ready(function() {
    $('form#run').submit(function(e){
        var genUser = $('#username').val();
        document.location = document.location.pathname + "?" + genUser;
        e.preventDefault();
    });
});
</script>
